@import './variables.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  background: @bg-light;
  color: @text-dark;
}

@import './Dashboard.less';
@import './Onboarding.less';
